.admin-panel {
  padding: 20px 30px 40px 30px;
  overflow: hidden;
  margin: 0 auto 6px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: auto;
  /* min-width: 1136px; */
}

@media only screen and (min-width: 1199px) {
  .admin-panel {
    min-width: 900px;
    max-width: 900px;
    width: auto;
  }
  .admin-panel {
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
  }
}

@media only screen and (min-width: 1200px) {
  .admin-panel {
    min-width: 1000px;
    max-width: 100%;
    min-height: 380px;
  }
}

input[type=radio]+label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
  color: #007acc;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  /* background-color: #f5f5f5; */
  background-repeat: repeat-x;
  font-weight: bolder;
}

input[type=radio]:checked+label {
  background-image: none;
  outline: 0;
  font-weight: bolder;
  color: black;
}

input[type=radio] {
  display: none;
}